<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="image.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <div class="input-row">
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="enrollmentnumber" placeholder="Enrollment Number" required>
            </div>
            <input type="password" name="password" placeholder="Password" required>
            <div class="admin-option">
                <label>
                    <input type="checkbox" id="adminCheckbox" onclick="toggleAdminPassword()"> Sign up as Admin
                </label>
            </div>
            <input type="password" id="adminPassword" class="admin-password" name="adminPassword" placeholder="Admin Password">
            <input type="submit" value="Sign Up">
        </form>
        <div class="error">
            {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}
        </div>
    </div>

    <script>
        function toggleAdminPassword() {
            var adminPasswordField = document.getElementById("adminPassword");
            var adminCheckbox = document.getElementById("adminCheckbox");
            adminPasswordField.style.display = adminCheckbox.checked ? "block" : "none";
        }
    </script>
</body>
</html>
